@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Responsável: @ViewData["Professor"]</p>
<address>
        <strong> More information: </strong> <a href="https://www.instagram.com/rvndreatta/?hl=pt-br" target="_blank"> INSTAGRAM </a>
</address>